.footer {
    background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)));
    color: rgb(var(--foreground-rgb));
}

.footerContainer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.logo {
    font-size: 1.5rem;
}

.footerLink {
    font-size: larger;
    display: flex;
    column-gap: 20px;
}

.social {
    font-size: xx-large;
}

.social:hover {
    color: rgb(var(--color-start-rgb));
}

.copytight {
    display: flex;
    justify-content: center;
    padding: 8px;
}

@media (min-width: 801px) and (max-width: 900px) {
    .social {
        font-size: x-large;
    }
}

@media (max-width: 800px) {
    .social {
        font-size: xx-large;
    }
}