.footer {
    background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)));
    color: rgb(var(--foreground-rgb));
}

.footerContainer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.logoLight {
    display: flex;
}

.logoDark {
    display: none;
}

.logoDark img, .logoLight img {
    width: 20vh;
}

.footerLink {
    font-size: larger;
    display: flex;
    column-gap: 20px;
}

.social {
    font-size: xx-large;
}

.social:hover {
    color: rgb(var(--color-start-rgb));
}

.copytight {
    display: flex;
    justify-content: center;
    padding: 8px;
}

@media (prefers-color-scheme: dark) {
    .logoDark {
        display: flex;
    }

    .logoLight {
        display: none;
    }
}

@media (min-width: 800px) and (max-width: 900px) {
    .logoDark img, .logoLight img {
        width: 10vh;
    }

    .social {
        font-size: x-large;
    }
}

@media (max-width: 799px) {
    .logoDark img, .logoLight img {
        width: 16vh;
    }

    .social {
        font-size: xx-large;
    }
}