.navbar {
    background: rgb(var(--background-start-rgb));
    color: rgb(var(--foreground-rgb));
    position: fixed;
    width: 100%;
    z-index: 1;
}

.navbarContainer {
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 1rem;
    align-items: center;
}

.logoLight {
    display: flex;
    margin: auto;
}

.logoDark {
    display: none;
    margin: auto;
}

.content {
    display: flex;
    justify-content: right;
    column-gap: 5%;
}

.navLinks {
    display: flex;
    align-items: center;
}

.navLinks > div:not(:first-child) {
    margin-left: 3rem;
}

.navLinks a {
    color: inherit;
    text-decoration: none;
    padding: 0.5rem;
}

.divLink {
    font-size: 28px;
    display: flex;
    column-gap: 20px;
}

.link:hover {
    border-radius: 50% 20% / 10% 40%;
    background: rgb(var(--color-start-rgb));
    /* color: #fff; */
}

.social {
    font-size: xx-large;
}

.social:hover {
    color: rgb(var(--color-start-rgb));
}

.languageSelect {
    padding: 1rem;
    border: solid 2px rgb(var(--color-start-rgb));
    border-radius: 8px;
    background-color: transparent;
    color: inherit;
    appearance: none;
    height: auto;
}

.languageSelect option {
    font-size: medium;
    color: rgb(var(--color-start-rgb));
    background-color: rgb(var(--background-end-rgb));
}

.menuIcon {
    display: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

@media (prefers-color-scheme: dark) {
    .logoDark {
        display: flex;
    }

    .logoLight {
        display: none;
    }
}

@media (max-width: 1180px) {
    .logoDark img, .logoLight img {
        width: 20vh;
    }

    .navLinks {
        display: none;
        flex-direction: column;
        background: rgb(var(--background-start-rgb));
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
    }

    .navLinks.open, .divLink, .contactLink {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5vh;
    }

    .navLinks > div:not(:first-child) {
        margin-left: 0rem;
    }

    .menuIcon {
        display: flex;
    }

    .menuIcon svg {
        font-size: 4vh;
    }

    .social {
        font-size: xx-large;
    }
}

@media (min-width: 800px) and (max-width: 1180px) {
    .languageSelect {
        font-size: 2vh;
    }

    .menuIcon svg {
        font-size: 6vh;
    }
}